@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {box-sizing: border-box;}
html
{
    scroll-behavior: smooth;

}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    
}
#main-site
{
    display: block;
    min-height: 100vh;
    width: 100%;
    background-image: url('/photos/light_wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
#welcome-screen {
    display: none;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;

}
  
.top-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.top-btn {
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background: linear-gradient(145deg, #dcd6cc, #d4b799);
    color: #000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.top-btn:hover {
    transform: translateY(-2px);
    background: linear-gradient(145deg, #d4b799, #dcd6cc);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}
.popup-name {
    font-size: 1.5rem;
    margin: 0;
    color: #000;
  }
  .popup-email {
    font-size: 0.9rem;
    color: #000;
    margin-bottom: 15px;
  }
.profile {
    width: 70px;
    height: 70px;
    background-image: url('/photos/profile.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 2px solid brown;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-left: auto;
    
}

.profile:hover {
    transform: scale(1.1);
}


.popup-card {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 16px;
    padding: 30px 20px;
    width: 300px;
    max-width: 90vw;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    position: relative;
    animation: popin 0.4s ease forwards;
  
}


.popup-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid brown;
  }


.sign-up-btn {
    background: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
  }
  .sign-up-btn:hover {
    background: #0056b3;
    transform: scale(1.05);
  }
  
/* Fullscreen overlay */
.profile-popup-overlay {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 1000;
    transition: opacity 0.3s ease;
  }
  
  .profile-popup-overlay.show {
    display: flex;
  }


  @keyframes popin {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

.popup-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid brown;
}




.close-btn-profile {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
  }

.close-btn-profile:hover {
    color: #cc0000;

}

footer {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 20px 20px;
  color: white;
  z-index: 2;
}

footer .blurrer {
  position: absolute;
  inset: 0;
  background-image: url('/photos/light_wall.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

.footer-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}

.footer-content .about-contact {
  cursor: pointer;
  color: black;
  transition: color 0.3s ease, transform 0.2s ease;
}

.footer-content .about-contact:hover {
  color: #333;
  transform: scale(1.05);
}


.main-content {
    flex-grow: 1;
}


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results {
    list-style-type: none;
    padding: 0;
}

.results li {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.no-results {
    color: red;
    font-style: italic;
}

  
  .proposition {
    font-size: 16px;
    text-align: center;
    align-items: center;
    max-width: 300px; /* Optional: Set max width if content is too wide */
    
  }
 


/*vinil*/

.album-container {
    
    display: grid;
    grid-template-columns: repeat(4, 190px); /* fix 4 coloane de 190px */
    gap: 120px; /*De aici schimb dimensiunea intre coloanele de viniluri    */
    justify-content: center; /* centrează întregul grid */
    padding: 60px;
  
}
@media (max-width: 900px) {
    .album-container {
        grid-template-columns: repeat(2, 190px);
    }
}

@media (max-width: 500px) {
    .album-container {
        grid-template-columns: repeat(1, 190px);
    }
}
.album {
    position: relative;
    width: 190px;
    height: 190px;
    transition: transform 0.8s ease, box-shadow 0.3s ease;
    color: white;
    opacity: 0;
    transform: translateY(50px);
}
.album.visible {
    opacity: 1;
    transform: translateY(0);
}

.album:hover {
    transform: scale(1.07) translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}
.album p
{
    color: black;
}
.cover {
	position: relative;
	top: 0;
	left: 0;
	width: 190px;
	height: 190px;
	background-size: 100% 100%;
	box-shadow: 5px 0 20px 0 rgba(0,0,0,0.6),
	            inset 0 0 10px 5px rgba(255,255,255,0.2),
			    inset 0 0 4px 2px rgba(0,0,0,0.2);
	border-radius: 4px;
	cursor: pointer;   
    
}
.cover::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 180px;
	background-image: url('http://i.imgur.com/i0fMWpe.jpg');
	background-size: 100% 100%;
	border-radius: 4px;
	mix-blend-mode: screen;
	opacity: 0.5;
	content: '';
}
.cover::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 190px;
	height: 190px;
	background-image: url('https://orig06.deviantart.net/0124/f/2013/136/6/7/texture_326_by_sirius_sdz-d65gs3s.jpg');
	background-size: 100% 100%;
	border-radius: 4px;
	mix-blend-mode: screen;
	opacity: 0.2;
	content: '';
}
.vinyl {
	position: absolute;
	top: 6%;
	left: 0;
	width: 170px;
	height: 170px;
	background-image: url('https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Music-PNG/Gramophone_Vinyl_LP_Record_PNG_Transparent_Clip_Art_Image.png?m=1462983196');
	background-size: 106% 106%;
	background-position: center;
	border-radius: 50%;
    transition: left 0.8s ease-in-out;
}
.vinyl.spin {
	animation: spinThat 10s linear infinite;
}
.vinyl::before {
	top: 2.5%;
	left: 2.5%;
	width: 95%;
	height: 95%;
	background-image: url('http://www.designresourcebox.com/ths/diverse/blacktextures/82267467.jpg');
	background-size: 100% 100%;
	border-radius: 50%;
	mix-blend-mode: screen;
	opacity: 0.3;
	content: '';
}
.print {
	position: absolute;
	top: 33%;
	left: 33%;
	height: 34%;
	width: 34%;
	box-shadow: inset 0 0 0 5px rgba(150,150,150,0.5);
	background-image: url('http://assets.teamrock.com/image/14d29742-c6f7-43f6-bbe1-6bf7b3b34c6f?w=800');
	background-size: cover;
	border-radius: 50%;
}
@keyframes spinThat {
	from { transform: rotate(0deg); }
	to   { transform: rotate(3600deg); }
}

/*terminare vinil*/

/*melodii*/

.vinyl-info-container {
    width: 500px;
    height: 400px;
    background-color: white;
    color: black;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 30px auto;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vinyl-info-container.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.hidden {
    display: none;
}

.album-popup {
    position: absolute;
    height: 200px;
    max-height: 500px;
    width:600px;
    max-width: 1000px;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -40%) scale(0.95);
    background: white;
    color: black;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    max-width: 90vw;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.15); /* mai transparent */
    backdrop-filter: blur(10px);                /* estompează fundalul */
    -webkit-backdrop-filter: blur(10px);        /* pentru Safari */
    border: 1px solid rgba(255, 255, 255, 0.2);  /* contur subtil */
}

.album-popup.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}



@media (max-width: 600px) {
    .album-popup {
      position: static !important;
      transform: none !important;
      width: 90vw;
      margin: 10px auto;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
  
    .album-popup.show {
      display: block !important; /* suprascrie doar pe mobil */
    }
  }
  @media (min-width: 1024px) {
    .album-popup {
      width: 600px;
      height: 400px;
      overflow-y: auto;/*bara de scroll*/
    }
  }

  .album-popup-btn {
    position: relative;
    width: 90%;
    padding: 8px 0; /* mai subtire pe inaltime */
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    backdrop-filter: blur(4px);
    text-align: center;
    margin-top: 15px;
  }
  
  .album-popup-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.03);
  color: #111;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
  }
/*melofii final*/

/* HEADER STYLES FROM FASHION WITH .blurrer DIV */

header {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 20px 20px;
  color: white;
  z-index: 2;
}

header .blurrer {
  position: absolute;
  inset: 0;
  background-image: url('/photos/light_wall.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 2;
}

.left-section, .right-section {
  display: flex;
  align-items: center;
}

.center-title {
  font-size: 30px;
  color: black;
  text-align: center;
  flex-grow: 1;
}

.top-btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #2980b9;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-btn:hover {
  background-color: #1c5980;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-left: 20px;
}


.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-moon {color: #f1c40f;}
  
  .fa-sun {color: #f39c12;}
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }
  .about-contact
  {
    color: black;
  }


@keyframes typingEffect {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

a:active {
    cursor: pointer;  /* Hand cursor when holding */
}

/* === DARK MODE STYLES === */
body.dark .top-btn {
  background: linear-gradient(145deg, #3b2e1a, #604428);
  color: white;
}

body.dark .popup-card {
  background: rgba(131, 128, 126, 0.655);
  color: white;
}
body.dark .popup-name,
body.dark .popup-email,
body.dark .about-contact,
body.dark .album p,
bo
{
  color: #fff;
}

body.dark #main-site,
body.dark header .blurrer ,
body.dark footer .blurrer {
  background-image: url('/photos/wood.jpeg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



* Cart Button */
.cart-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.cart-btn {
    background-color: green;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.cart-btn:hover {
    background-color: #2980b9;
}

/* Cart Modal */
.cart-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cart-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-content h3 {
    margin-bottom: 20px;
}

#cart-items {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

#cart-items li {
    margin: 10px 0;
    font-size: 16px;
}
.cart-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.cart-btn {
  background-color: green;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.cart-btn:hover {
  background-color: #2980b9;
}

/* Cart Modal */
.cart-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cart-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cart-content h3 {
  margin-bottom: 20px;
}

#cart-items {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

#cart-items li {
  margin: 10px 0;
  font-size: 16px;
}


/* welcome animation*/


#welcome-screen {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  #bg-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .text-space {
    width: 2vw; /* Adjustable spacing */
    opacity: 0; /* still animates if you want */
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  
  
  .criterion {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
  }
  
  .text-line {
    display: flex;
    gap: 0.5vw;
  }
  .text-line:first-child .text {
    font-size: clamp(1.3rem, 4.5vw, 3.5rem); /* smaller */
  }
  
  .text-line:last-child .text {
    font-size: clamp(1.5rem, 7vw, 5rem); /* bigger */
  }
  
  .text {
    font-size: clamp(1.5rem, 6vw, 5rem);
    color: white;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  
  .background {
    position: absolute;
    top: 0;
    width: 0;
    -webkit-animation: background-animation 2s ease-in-out 4s 1 normal forwards;
            animation: background-animation 2s ease-in-out 4s 1 normal forwards;
  }
  
  
  .text0 {
    left: -110px;
    top: 0;
    -webkit-animation: text-animation0 0.3s ease-in-out 0s 1 normal forwards, text2-animation0 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation0 0.3s ease-in-out 0s 1 normal forwards, text2-animation0 1s ease-in-out 4s 1 normal forwards;
  }
  .text1 {
    left: -80px;
    top: 0;
    -webkit-animation: text-animation1 0.3s ease-in-out 0.1s 1 normal forwards, text2-animation1 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation1 0.3s ease-in-out 0.1s 1 normal forwards, text2-animation1 1s ease-in-out 4s 1 normal forwards;
  }
  .text2 {
    left: -60px;
    top: 0;
    -webkit-animation: text-animation2 0.3s ease-in-out 0.2s 1 normal forwards, text2-animation2 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation2 0.3s ease-in-out 0.2s 1 normal forwards, text2-animation2 1s ease-in-out 4s 1 normal forwards;
  }
  .text3 {
    left: -40px;
    top: 0;
    -webkit-animation: text-animation3 0.3s ease-in-out 0.3s 1 normal forwards, text2-animation3 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation3 0.3s ease-in-out 0.3s 1 normal forwards, text2-animation3 1s ease-in-out 4s 1 normal forwards;
  }
  .text4 {
    left: -15px;
    top: 0;
    -webkit-animation: text-animation4 0.3s ease-in-out 0.4s 1 normal forwards, text2-animation4 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation4 0.3s ease-in-out 0.4s 1 normal forwards, text2-animation4 1s ease-in-out 4s 1 normal forwards;
  }
  
  .text5 {
    left: 20px;
    top: 0;
    -webkit-animation: text-animation5 0.3s ease-in-out 0.5s 1 normal forwards, text2-animation5 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation5 0.3s ease-in-out 0.5s 1 normal forwards, text2-animation5 1s ease-in-out 4s 1 normal forwards;
  }
  
  .text6 {
    left: 50px;
    top: 0;
    -webkit-animation: text-animation6 0.3s ease-in-out 0.6s 1 normal forwards, text2-animation6 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation6 0.3s ease-in-out 0.6s 1 normal forwards, text2-animation6 1s ease-in-out 4s 1 normal forwards;
  }
  .text7 {
    left: 90px;
    top: 0;
    -webkit-animation: text-animation7 0.3s ease-in-out 0.7s 1 normal forwards, text2-animation7 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation7 0.3s ease-in-out 0.7s 1 normal forwards, text2-animation7 1s ease-in-out 4s 1 normal forwards;
  }
  
  .text8 {
    left: 110px;
    top: 0;
    -webkit-animation: text-animation8 0.3s ease-in-out 0.8s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation8 0.3s ease-in-out 0.8s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
  }
  
  .text9 {
    left: 160px;
    top: 0;
    -webkit-animation: text-animation8 0.3s ease-in-out 0.9s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation8 0.3s ease-in-out 0.9s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
  }
  .text10 {
    left: 190px;
    top: 0;
    -webkit-animation: text-animation8 0.3s ease-in-out 1s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation8 0.3s ease-in-out 1s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
  }
  .text11 {
    left: 210px;
    top: 0;
    -webkit-animation: text-animation8 0.3s ease-in-out 1.1s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation8 0.3s ease-in-out 1.1s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
  }
  .text12 {
    left: 210px;
    top: 0;
    -webkit-animation: text-animation8 0.3s ease-in-out 1.2s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation8 0.3s ease-in-out 1.2s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
  }
  .text13 {
    left: 210px;
    top: 0;
    -webkit-animation: text-animation8 0.3s ease-in-out 1.3s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation8 0.3s ease-in-out 1.3s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
  }
  .text14 {
    left: 210px;
    top: 0;
    -webkit-animation: text-animation8 0.3s ease-in-out 1.4s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation8 0.3s ease-in-out 1.4s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
  }
  .text15 {
    left: 210px;
    top: 0;
    -webkit-animation: text-animation8 0.3s ease-in-out 1.5s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation8 0.3s ease-in-out 1.5s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
  }
  .text16 {
    left: 210px;
    top: 0;
    -webkit-animation: text-animation8 0.3s ease-in-out 1.6s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation8 0.3s ease-in-out 1.6s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
  }
  .text17 {
    left: 210px;
    top: 0;
    -webkit-animation: text-animation8 0.3s ease-in-out 1.7s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation8 0.3s ease-in-out 1.7s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
  }
  .text18 {
    left: 210px;
    top: 0;
    -webkit-animation: text-animation8 0.3s ease-in-out 1.8s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation8 0.3s ease-in-out 1.8s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
  }
  .text19 {
    left: 210px;
    top: 0;
    -webkit-animation: text-animation8 0.3s ease-in-out 1.9s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
            animation: text-animation8 0.3s ease-in-out 1.9s 1 normal forwards, text2-animation8 1s ease-in-out 4s 1 normal forwards;
  }
  @-webkit-keyframes text-animation0 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    25% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes text-animation0 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @-webkit-keyframes text-animation1 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes text-animation1 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @-webkit-keyframes text-animation2 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes text-animation2 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @-webkit-keyframes text-animation3 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes text-animation3 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @-webkit-keyframes text-animation4 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes text-animation4 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @-webkit-keyframes text-animation5 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes text-animation5 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @-webkit-keyframes text-animation6 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes text-animation6 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @-webkit-keyframes text-animation7 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes text-animation7 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @-webkit-keyframes text-animation8 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes text-animation8 {
    0% {
      transform: scale(0, 0);
      opacity: 0;
    }
    50% {
      transform: scale(3, 3);
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes frame-animation0 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @keyframes frame-animation0 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @-webkit-keyframes frame-animation1 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @keyframes frame-animation1 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @-webkit-keyframes frame-animation2 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @keyframes frame-animation2 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @-webkit-keyframes frame-animation3 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @keyframes frame-animation3 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @-webkit-keyframes frame-animation4 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @keyframes frame-animation4 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @-webkit-keyframes frame-animation5 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @keyframes frame-animation5 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @-webkit-keyframes frame-animation6 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @keyframes frame-animation6 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @-webkit-keyframes frame-animation7 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @keyframes frame-animation7 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @-webkit-keyframes frame-animation8 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  @keyframes frame-animation8 {
    0% {
      transform: translateY(-1000px);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }